body{
    background-color: cadetblue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer{
    color: rgba(255, 255, 255, 0.651);
    text-align: center;
    font-style: italic;
}